<div class="well">
	<%= link_to('Update Profile', edit_lecturer_registration_path, class:"btn btn-warning", title: "Update Profile") %>
	Welcome <%= current_lecturer.email %>
</div>
<h2>You're in subdomain</h2>
